.popup {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    color: black;
    opacity: 0;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}