.card__delete-button {
    background: url(../../../images/trash.svg) center no-repeat;
    position: absolute;
	right: 15px;
	top: 15px;
	width: 18px;
	height: 19.3px;
	background-size: contain;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}