.form__save-button {
    color: #fff;
    background-color: #000;
    height: 50.15px;
    width: 100%;
    margin-top: 48px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 21.78px;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    border: none;
    transition: opacity .3s linear;
}

.form__save-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .form__save-button {
        font-size: 14px;
        line-height: 17px;
        height: 46px;
        margin-top: 45px;
    }
}