@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__data/profile__data.css);
@import url(../profile/__description/profile__description.css);
@import url(../profile/__edit-button/profile__edit-button.css);
@import url(../profile/__info/profile__info.css);
@import url(../profile/__name/profile__name.css);

.profile {
    display: flex;
    position: relative;
    min-width: 252px;
    max-width: 880px;
    height: 120px;
    margin: 0 200px 0;
    padding: 0;
}