@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__data/profile__data.css);
@import url(../profile/__description/profile__description.css);
@import url(../profile/__edit-button/profile__edit-button.css);
@import url(../profile/__container/profile__container.css);
@import url(../profile/__name/profile__name.css);
.profile {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 120px;
    max-height: 286px;
    min-width: 252px;
    max-width: 880px;
    margin: auto;
    padding: 0;
}

@media screen and (max-width: 700px)  {
    .profile {
        flex-direction: column;
        height: 286px;
        align-items: center;
        justify-content: center;
    }
}