.footer__copyright {
    font-size: 18px;
    line-height: 21.78px;
    color: #545454;
    margin: auto;
    font-weight: 400;
}

@media screen and (max-width: 480px) {
    .footer__copyright {
        max-width: 282px;
    }
}