.header__logo {
    background: url(../../../images/logo.svg);
    width: 173px;
    height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 480px) {
    .header__logo {
        margin-left: 27px;
    }
}