.card__button {
    background: url(/images/heart.svg) no-repeat;
    margin: 0;
    padding: 0;
    width: 20.76px;
    height: 18.13px;
    border: none;
    float: right;
    cursor: pointer;
}

.card__button:hover {
    opacity: 0.2;
}

.card__button:active {
    background: url(/images/black-heart.svg) no-repeat;
    opacity: 100;
    border: none;
}