.card__button {
    background: url(../../../images/heart.svg) no-repeat;
    margin: 31px 18.24px 29.87px;
    padding: 0;
    width: 20.76px;
    height: 18.13px;
    border: none;
    float: right;
}

.card__button:hover {
    opacity: 0.3;
    cursor: pointer;
}

.card__button:active {
    background: url(../../../images/black-heart.svg) no-repeat;
    opacity: 1;
    border: none;
}