.profile__add-button {
    position: absolute;
    background: url(/images/add-button.svg) center no-repeat;
    color: #fff;
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    margin: 35px 0px 35px;
    background-size: 22px 22px;
    border-radius: 2px;
    padding: 14px 16px;
    cursor: pointer;
    right: 0;
}