.modal__container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30vh auto;
    border-radius: 10px;
    height: min-content;
    max-height: 330px;
    width: 430px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .10);
    box-sizing: border-box;
    padding: 36px;
}

@media screen and (max-width: 480px) {
    .modal__container {
        width: 75%;
        margin-top: 50%;
        padding: 30px 20px;
    }
}