.profile__description {
    margin: 0 0 0 30px;
    padding: 0;
    max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    .profile__description {
        margin: 14px 0 0;
        align-self: center;
    }
}