.form__input_type_description {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 8px;
    width: 100%;
    border: none;
    font-weight: normal;
    border-bottom: 1px solid #000;
    margin: 29.74px 0 0;
    padding: 0;
}

@media screen and (max-width: 480px) {
    .form__input_type_description {
        font-size: 12px;
        line-height: 15px;
    }
}