@import url(../footer/__copyright/footer__copyright.css);

.footer {
    margin: 66px 200px 60px;
}

@media screen and (max-width: 480px) {
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
    }
}