@import url(../element/__item/element__item.css);
@import url(../element/__title/element__title.css);
@import url(../element/__heart/element__heart.css);
@import url(../element/__image/element__image.css);
@import url(../element/__container/element__container.css);

.element {
    width: 100%;
    list-style: none;
    display: flex;
    position: relative;
  }
  
  .element:hover {
    cursor: pointer;
  }
  