@import url(../card/__button/card__button.css);
@import url(../card/__title/card__title.css);
@import url(../card/__image/card__image.css);
@import url(../card/__label/card__label.css);
.card {
  list-style: none;
  position: relative;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-size: 100% auto;
  max-width: 282px;
}