@import url(./__delete-button/card__delete-button.css);
@import url(./__like-button/card__like-button.css);
@import url(./__like-button_active/card__like-button_active.css);
@import url(./__title/card__title.css);
@import url(./__image/card__image.css);
@import url(./__label/card__label.css);
.card {
  list-style: none;
  position: relative;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-size: 100% auto;
  width: 282px;
  height: 361px;
}