.modal__btn-close {
    height: 40px;
    width: 40px;
    background: url(/images/close-icon.svg) center no-repeat;
    position: absolute;
    top: -47px;
    right: -47px;
    background-color: unset;
    border: 0;
}